<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Aparadektoi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A87613A01D1BBEB800D3111A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A87613B41D1BBEB900D3111A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A87613BF1D1BBEB900D3111A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
